@import url('https://fonts.googleapis.com/css?family=Cabin|Raleway');

/* C S S  R E S E T S */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-size: 62.5%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* E N D  C S S  R E S E T S*/

body {
  font-family: 'Raleway';
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 700px) {
	nav {
	  position: fixed;
	  top: 0;
	  left: 0;
	  right: 0;
	  z-index: 99;
	  background: #ffffff;
	  height: 60px;
	  font-size: 14px;
	  font-weight: bolder;
	  line-height: 1.4;
	  transform: translateY(-60px);
	  -webkit-transform: translateY(-60px);
	  animation: header-anim 0.5s ease 2.5s 1 forwards;
	  -webkit-animation: header-anim 0.5s ease 2.5s 1 forwards
	}
}

.logo {
  float: left;
  margin: 15px 0;
}

.navmenu {
  float: right;
  margin: 17px 0;
}

.navmenu li {
  float: left;
  margin-left: 25px;
}

.navmenu li a {
  display: block;
  padding: 2px;
  letter-spacing: .8px;
  transition: all 0.3s ease-in
}

nav a:hover {
  color: red;
}

.toggle-nav {
	display: none;
}

@media screen and (max-width: 860px) {


}

footer {
  background: #222222;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  letter-spacing: 2px;
  z-index: 2;
  display: block;
  width: 100%;
  position: relative;
  bottom: 0; left: 0;
}

.background-cover {
  background: url('../images/crabs.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 100%;
  /*width: auto;*/
  z-index: 2;
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.slide-up {
  transform: translateY(calc(-100% + 60px));
}

.vertical-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: #fff;
  text-align: center;
}

.vertical-middle h3 {
  font-size: 60px;
  opacity: 0;
  animation: opacity-anim 0.5s ease 1s 1 forwards;
  -webkit-animation: opacity-anim 0.5s ease 1s 1 forwards;
}

.vertical-middle h1 {
  font-weight: 900;
  font-size: 80px;
  line-height: 1.2;
  letter-spacing: 3px;
  opacity: 0;
  animation: opacity-anim 0.5s ease 1.5s 1 forwards;
  -webkit-animation: opacity-anim 0.5s ease 1.5s 1 forwards;
}

.test {
  height: 1000px;
  /*margin: 600px 0*/
}

section {
  padding: 25px
}

#section-menu {
	background-color: #eee;
}

.box {
  background: #ffffff;
  border: 3px solid #222222;
  margin: 20px 0;
  text-align: center;
}

.menu-title {
  font-size: 3em;
  font-weight: 800;
  line-height: 1;
  padding: 20px 0 10px 0
}

.menu-desc {
  font-size: 1.7em;
}

.menu-body {
	padding: 20px 0;
	font-size: 1.5em;
	letter-spacing: 1.2px;
}

.menu-item {
  font-size: 1.3em;
  margin: 10px 0;
	padding: 0 0 5px;
	border-bottom: 1px solid black;
}

.menu-item-desc i {
  margin: 0 10px;
}

.menu-item-price {
  /*float: right;*/
}

section#about {
	margin-top: 100px;
}

#about .box-content {
	padding: 50px;
	font-size: 3em;
}

#about .box-banner {
	padding: 22px;
	border-bottom: 3px solid #222222;
	/*background-image: url('https://s3.amazonaws.com/getbento-theme-assets/sacksandwiches/initial/assets/images/lines.png');*/
	background: url('../images/dots.png');
	background-color: #D6F2E9;
}

#reviews {

}

#test-pic {
	margin-top: 100px;
	background: url('../images/crabtray.png');
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	height: 300px;
}

section #sides {

}


/*general*/

.small {
	font-size: 0.8em;
	color: #0043ff;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* IE6&7 */
}


/* A N I M A T I O N S*/
@keyframes header-anim {
  100% {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@keyframes opacity-anim {
  100% {
    opacity: 1;
  }
}
