@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Martel+Sans');

/* C S S  R E S E T S */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Martel Sans';
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
	color: #000;
}

.row {
	width: 100%;
}

.hero {
  position: relative;
	background: url('../images/crabs1.jpg');
	background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
	height: 100vh;
  letter-spacing: 2px;
	font-weight: 900;
}

/*parallax backgrounds*/
.fish {
	/*background-image: url('../images/fish.jpg');
	height: 300px;
	background-size: contain*/
}
.lunch {
	/*background-image: url('../images/rice.jpg');*/
	/*height: 300px;*/
}
.dinner {
	/*background-image: url('../images/rice.jpg');*/
	/*height: 100px;*/
	display: none;
}
/**/

.hero img {
	height: 100px;
	width: auto;
	position: absolute;
	bottom: 130px;
	right: 112px;
}

.hero h3 {
	padding: 50px 0 20px 0;
  opacity: 0;
	font-size: 2em;
	font-weight: 800;
  animation: opacity-anim 0.5s ease 1s 1 forwards;
  -webkit-animation: opacity-anim 0.5s ease 1s 1 forwards;
}

.hero h1 {
  letter-spacing: 3px;
  opacity: 0;
	font-size: 5em;
	font-weight: 900;
  animation: opacity-anim 1s ease 1.5s 1 forwards;
  -webkit-animation: opacity-anim 1s ease 1.5s 1 forwards;
}

.mouse {
	position: absolute;
  display: block;
	bottom: 40px;
	left: 50%;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 3px solid #eee;
  margin-left: -26px;
	opacity: 0;
	animation: opacity-anim 1s ease 2.5s 1 forwards;
	-webkit-animation: opacity-anim 1s ease 2.5s 1 forwards;
	cursor: pointer
}

.mouse span {
  display: block;
  margin: 6px auto;
  width: 4px;
  height: 8px;
  border-radius: 4px;
  background: #eee;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

section {
	padding-top: 20px;
	text-align: center;
	font-weight: 900;
}

section h1.intro {
	text-align: center;
  font-weight: 900;
  font-size: 4em;
	margin: 0 auto;
	padding-top: 20px;
	font-style: italic;
	position: relative;
	font-family: 'Bungee Shade';
}

.menu-section {
	margin: 25px 0;
	text-align: left;
}

.except {
	font-size: 0.7em;
}

.served {
	font-size: 0.4em;
	color: #808080;
}

.menu-section h1 {
  padding: 0 0 0 50px;
	text-align: left;
	font-weight: 900;
	font-size: 2.5em;
	/*color: #ff7724;*/
}

.menu-desc {
  font-size: 1em;
	padding: 0 0 20px 0;
	font-weight: 800;
	width: 90%;
	margin: 0 auto;
}

.menu-desc p {
	padding: 5px 0 0 0;
}

.menu-body {
	padding: 10px 0 0 0;
	font-size: 1.3em;
}

.menu-item {
	padding: 15px 80px;
}

.menu-item-desc {
	/*color: #693115;*/
	color: #c84e03;
}

.menu-item-desc p {
	margin: 5px 0 0 10px;
	font-style: italic;
	color: #414141;
	font-size: 0.6em;
}

.menu-body span.small {
	margin-left: 5px;
}

.menu-item-price {
	/*color: #d51921;*/
	color: black;
}

/* SEAFOOD */
#seafood .row, #seafood {
	margin-left: 0!important;
	padding: 25px 0 15px 0;
}
#seafood .info {
	text-align: center;
	padding: 30px 0 0 50px;
	color: #693115;
}
#seafood p {
	color: #000;
	padding: 10px 0 0 0;
	font-style: italic;
	font-size: 0.8em;
	font-weight: 500;
}
#seafood .list {
	text-align: left;
}
#seafood .info li {
	padding: 5px 0 0 0;
	font-size: 1.2em;
	font-weight: 800;
}
.sidepic {
	padding: 0
}
.sidepic img {
	width: 100%;
	max-height: 550px;
	overflow: hidden;
}


/* LOCATION */
#location {
	width: 100%;
	padding: 0;
}
#location .row {
	margin-top: 50px;
	font-size: 1em;
	width: 100%;
	margin-left: 0!important
}
#map {
	width: 100%;
	height: 450px;
}
.map {
	padding: 0;
}
#floating-panel {
	position: absolute;
	bottom: 5%;
	left: 5%;
	z-index: 5;
	border: 1px solid #fff;
	cursor: pointer;
	height: 100px;
	width: auto;
}
#location .info {
	padding: 0px 10px 20px 50px;
	text-align: left;
}
#location .info h3 {
	font-weight: 900;
	color: #ff6657;
}
#location .info div {
	margin: 20px 0;
}
#location .address i {
	color: #693115
}
.hours ul li {
	list-style: none;
}
.hours li strong {
	float: left;
	width: 100px;
}
.hours li {
	padding: 5px 0 0 0;
}
.address p {
	margin: 5px 0;
}
.address p:last-child {
	margin-top: 20px;
}
.address p:last-child:hover a{
	color: #d51921
}
.socials a {
	text-align: center;
	background: #ff9757;
	width: 36px;
	height: 36px;
	line-height: 40px;
	font-size: 20px;
	border-radius: 50%;
	display: inline-block;
}
.socials i {
	color: #fff
}

.socials a:hover {
	background: #d51921;
}

/*general*/

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* IE6&7 */
}


/* A N I M A T I O N S*/
@keyframes opacity-anim {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes opacity-anim {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes scrollUp {
	0% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/* NAV BAR*/
header {
	position: fixed;
	top: 0px;
	max-height: 70px;
	z-index: 999;
	width: 100%;
	background: none;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
	top: -100px;
	padding: 23px 0 17px 0;
	font-size: 1.1em;
	border-bottom: 1px solid #000;
}
.nav-container {
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0 2%;
}
nav {
	width: 80%;
	float: right;
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
nav ul li {
	display: inline-block;
  margin-left: 35px;
	line-height: 1.5;
}
nav ul a {
	color: #000;
  text-transform: uppercase;
}
nav ul a:hover {
	color: #a6a6a6;
	font-weight: 900;
}

.logo {
	float: left;
	cursor: pointer;
}

.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.open-nav {
  min-height: 250px !important;
}

.sticky {
	background-color: #fff;
	opacity: 1;
	top: 0px;
}

.mobile-toggle {
	display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.mobile-toggle span {
  width: 30px;
  height: 3px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

footer {
	margin-top: 100px;
	background: #777;
  color: #fff;
  text-align: center;
  padding: 90px 0 0 0;
  font-size: 14px;
  letter-spacing: 2px;
  z-index: 2;
  display: block;
  width: 100%;
  position: relative;
  bottom: 0; left: 0;
	height: 110px
}

footer a:hover,
footer a:visited,
footer a:focus {
	color: #fff;
}

footer .mouse {
	position: absolute;
  display: block;
	top: 20px;
	left: 51%;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 3px solid #fff;
  margin-left: -26px;
	opacity: 1;
	cursor: pointer
}

footer .mouse span {
  display: block;
  margin: 6px auto;
  width: 4px;
  height: 8px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scrollUp;
  animation-name: scrollUp;
}


@media only screen and (max-width: 768px) {
	header {
		padding-top: 25px;
	}
	.logo {
		float: none;
	}
	.mobile-toggle {
		display: block;
	}
	nav {
		width: 100%;
	}
	nav ul {
		padding-top: 10px;
		margin-bottom: 22px;
		float: left;
		text-align: center;
		width: 100%;
  }
	nav ul li {
		width: 100%;
		padding: 20px 0 5px 0 ;
		margin: 0;
	}
	#street, img {
		display: none;
	}
	.dinner {
		display: none;
	}
}

/* iPhone 6 */
@media only screen and (max-device-width : 667px) {
	.dinner {
		display: none
	}
	.main {
		background: url('../images/crabs1.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		height: 400px;
		width: 100%;
	}
	.mouse {
		display: none;
	}
}

@media only screen
and (min-width: 768px)
and (max-width:1092px){
	.menu-item {
		padding: 15px!important;
	}
}
